@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Open Sans";

  src: local("Open Sans"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";

  src: local("Open Sans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Gilroy";

  src: local("Gilroy"), url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Gilroy";

  src: local("Gilroy"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-gray: #464646;
  --basic-grey-light: #e5e5e5;
  --basic-half-gray: #7e7e7e;
  --basic-white: #ffffff;
  --black-30: rgba(0, 0, 0, 0.3);
  --black-60: rgba(0, 0, 0, 0.6);
  --special-green: #91c92f;
  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --status-pink: #f6dada;
  --white-30: rgba(255, 255, 255, 0.3);
  --white-60: rgba(255, 255, 255, 0.6);
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  height: 100%;
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);

  grid-template-rows: auto 1fr auto;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.logo {
  width: 163px;
  height: 35px;
}

/*===== BUTTON =====*/

.button {
  position: relative;

  display: inline-block;
  padding: 9px 42px;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", sans-serif;
  vertical-align: top;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.5px;

  background-color: transparent;
  border: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: -1;

  height: 8px;

  background-color: var(--special-yellow-dark);
  transform: translateY(-50%);
}

.button:hover {
  background-color: var(--special-yellow-dark);
}

.button:active {
  color: var(--black-30);

  background-color: var(--special-yellow-dark);
}

/*===== MAIN-HEADER =====*/

.main-header {
  position: relative;

  min-height: 186px;
  margin-top: 40px;
  padding: 30px 60px;

  background-color: var(--special-yellow-light);
}

.main-header__logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

/*===== SEARCH-FORM =====*/

.search-form {
  position: relative;

  display: flex;
  flex-basis: 500px;
  align-items: stretch;
  max-width: 500px;
  min-height: 50px;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 16px;
  height: 16px;

  background-image: url("../img/icons/icon-search.svg");
  transform: translateY(-50%);
}

.search-form__field {
  flex-grow: 1;
  padding: 0 0 0 38px;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);

  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
}

.search-form__field::placeholder {
  color: var(--black-30);
}

.search-form__field:hover::placeholder {
  color: var(--black-60);
}

.search-form__field:focus {
  border-color: var(--basic-black);
}

.search-form__field:focus::placeholder {
  color: var(--basic-black);
}

.search-form__button {
  display: none;
  padding: 13px 15px;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid var(--basic-black);
  cursor: pointer;
}

.search-form__field:focus + .search-form__button {
  display: block;
}

.search-form__button:hover {
  display: block;

  color: var(--basic-white);

  background-color: var(--basic-black);
}

.search-form__button:active {
  color: var(--white-30);

  background-color: var(--basic-black);
}

/*===== USER-LIST =====*/

.user-list {
  display: flex;
  flex-basis: 500px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-list__item {
  margin-right: 40px;
}

.main-header__user-list .user-list__item:nth-last-child(2) {
  margin-left: auto;
}

.user-list__item:last-child {
  margin-right: 0;
}

.user-list__link {
  position: relative;

  padding-left: 24px;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);
  text-decoration: none;
}

.user-list__link:hover {
  color: var(--black-60);
}

.user-list__link:active {
  color: var(--black-30);
}

.user-list__link--logout {
  margin-left: -20px;
  padding-left: 0;

  color: var(--black-30);
}

.user-list__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);
}

.user-list__link--user::before {
  width: 13px;
  height: 14px;

  background-image: url("../img/icons/icon-user.svg");
}

.user-list__link--compare::before {
  width: 14px;
  height: 14px;

  background-image: url("../img/icons/icon-chart.svg");
}

.user-list__link--cart::before {
  width: 10px;
  height: 10px;

  background-image: url("../img/icons/icon-cart.svg");
}

/*===== NAVIGATION =====*/

.navigation {
  flex-basis: 100%;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation__list__item {
  position: relative;

  margin-right: 38px;
}

.navigation__list__item:first-child {
  margin-right: auto;
}

.navigation__list__item:last-child {
  margin-right: 0;
  margin-left: 65px;
}

.navigation__list__link {
  position: relative;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.5px;
}

.navigation__list__link:hover {
  color: var(--black-60);
}

.navigation__list__link:active {
  color: var(--black-30);
}

.navigation__list__link--plus {
  padding-right: 35px;
}

.navigation__list__link--plus::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;

  width: 22px;
  height: 22px;

  background-image: url("../img/icons/icon-plus.svg");
  transform: translateY(-50%);
}

.navigation__sublist {
  position: absolute;
  z-index: 1;

  display: none;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 -60px;
  padding: 28px 60px 40px;

  list-style: none;

  background-color: var(--special-yellow-light);
}

.navigation__list__item:hover .navigation__sublist {
  display: flex;
}

.navigation__sublist-item {
  display: flex;
  flex-direction: column;
  margin-right: 63px;
}

.navigation__sublist-item:last-child {
  margin-right: 0;
}

.navigation__sublist-link {
  margin-bottom: 17px;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);
  text-decoration: none;
}

.navigation__sublist-link:last-child {
  margin-bottom: 0;
}

.navigation__sublist-link:hover {
  color: var(--black-60);
}

.navigation__sublist-link:active {
  color: var(--black-30);
}

/*===== SLIDER =====*/

.slider-wrapper {
  position: relative;

  margin: -15px auto 55px;
  overflow-x: hidden;

  background-image: linear-gradient(var(--special-yellow-light), var(--special-yellow-light) 129px, transparent 129px, transparent 100%);
}

.slider-toggle-list {
  position: absolute;
  top: 340px;
  right: 88px;

  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-toggle-list__item {
  margin-right: 18px;
}

.slider-toggle-list__item:last-child {
  margin-right: 0;
}

.slider-toggle-list__button {
  position: relative;

  display: block;
  width: 12px;
  height: 12px;
  padding: 0;

  background-color: transparent;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.slider-toggle-list__button--checked {
  cursor: default;
}

.slider-toggle-list__button--checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 6px;
  height: 6px;

  border: 1px solid var(--basic-black);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.slider {
  display: flex;
  width: 300%;
  margin: 0;
  padding: 0;

  list-style: none;

  counter-reset: slide;
}

.slider__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider__item-image,
.slider__item-info {
  flex-basis: 560px;
  max-width: 560px;
}

.slider__item-image img {
  display: block;
  margin: 0 auto;
}

.slider__item-title {
  position: relative;

  margin: 0 0 26px 0;
  padding: 93px 170px 0 0;

  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.slider__item-title::before {
  content: "";
  position: absolute;
  top: 34px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: var(--basic-white);
}

.slider__item-title::after {
  content: "0"counter(slide);
  position: absolute;
  top: 3px;
  right: 47px;

  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-white);
  text-transform: uppercase;

  counter-increment: slide;
}

.slider__item-description {
  margin: 0 0 50px 0;
  padding: 0 75px 0 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.slider__item-button {
  min-width: 220px;
  margin-bottom: 50px;
}

.slider__item-table {
  border-collapse: collapse;
}

.slider__item-table tbody {
  display: flex;
}

.slider__item-table-row {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 59px;
}

.slider__item-table-row:last-child {
  margin-right: 0;
}

.slider__item-table-cell {
  font-weight: 300;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  letter-spacing: 0.1em;
}

.slider__item-table-cell--name {
  font-size: 13px;
  line-height: 15px;
}

.slider__item-table-cell--value {
  margin-bottom: 15px;

  font-size: 36px;
  line-height: 42px;
}

/*===== POPULAR =====*/

.popular {
  margin-bottom: 50px;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 40px;
}

.popular-list__item {
  width: 160px;

  line-height: 22px;
}

.popular-list__item-name {
  position: relative;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  text-decoration: none;
  letter-spacing: 0.05em;
}

.popular-list__item-name::before {
  content: "";

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 40px;

  background-color: var(--special-yellow-light);
}

.popular-list__item-name::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
  background-position: 50%;
}

.popular-list__item-name--vr::after {
  background-image: url("../img/vr.svg");
}

.popular-list__item-name--monopod::after {
  background-image: url("../img/monopod.svg");
}

.popular-list__item-name--camera::after {
  background-image: url("../img/camera.svg");
}

.popular-list__item-name--fitness-bracelet {
  letter-spacing: normal;
}

.popular-list__item-name--fitness-bracelet::after {
  letter-spacing: normal;

  background-image: url("../img/fitness-bracelet.svg");
}

.popular-list__item-name--smart-clock::after {
  background-image: url("../img/smart-clock.svg");
}

.popular-list__item-name--quadrocopters::after {
  background-image: url("../img/quadrocopters.svg");
}

.popular-list__item-name:hover::before {
  background-color: var(--special-yellow-dark);
}

.popular-list__item-name:active {
  opacity: 0.3;
}

.popular-list__item-name:active::before {
  background-color: var(--special-yellow-dark);
}
