@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Open Sans";

  src: local("Open Sans"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";

  src: local("Open Sans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Gilroy";

  src: local("Gilroy"), url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Gilroy";

  src: local("Gilroy"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-gray: #464646;
  --basic-gray-light: #e5e5e5;
  --basic-half-gray: #7e7e7e;
  --basic-white: #ffffff;
  --black-10: rgba(0, 0, 0, 0.1);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-60: rgba(0, 0, 0, 0.6);
  --input-gray: #f2f2f2;
  --input-gray-hover: #eaeaea;
  --shadow-black: rgba(0, 0, 0, 0.18);
  --shadow-popup: rgba(0, 0, 0, 0.15);
  --special-gray: #dcdcdc;
  --special-gray-darked: #c4c4c4;
  --special-gray-paginator-bg: #ebebeb;
  --special-gray-paginator-hover: #d9d9d9;
  --special-green: #91c92f;
  --special-yellow-dark: #f0c52e;
  --special-yellow-darked: #ffc600;
  --special-yellow-light: #f7e296;
  --status-pink: #f6dada;
  --white-30: rgba(255, 255, 255, 0.3);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-70: rgba(255, 255, 255, 0.7);
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);

  grid-template-rows: auto 1fr auto;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  width: 163px;
  height: 35px;
}

/*===== OVERLINE-TITLE =====*/

.overline-title {
  position: relative;
}

.overline-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: var(--basic-black);
}

/*===== DEFAULT PARAGRAPH and LIST =====*/

.default-text {
  margin: 0 0 40px;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);
}

.default-text:last-of-type {
  margin-bottom: 60px;
}

.default-text:only-of-type {
  margin-bottom: 40px;
}

.default-list {
  margin: 0;
  padding-left: 32px;

  list-style: none;
}

.default-list__item {
  position: relative;

  margin-bottom: 14px;

  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.default-list__item:last-child {
  margin-bottom: 0;
}

.default-list__item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -31px;

  width: 8px;
  height: 8px;

  border: 2px solid var(--basic-gray-light);
  border-radius: 50%;
}

/*===== BUTTON =====*/

.button {
  position: relative;
  z-index: 1;

  display: inline-block;
  padding: 9px 10px;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.5px;

  background-color: transparent;
  border: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: -1;

  height: 8px;

  background-color: var(--special-yellow-dark);
  transform: translateY(-50%);
}

.button:hover,
.button:focus {
  background-color: var(--special-yellow-dark);
}

.button:active {
  color: var(--black-30);

  background-color: var(--special-yellow-dark);
}

/*===== CLOSE-BUTTON =====*/

.close-button {
  position: absolute;
  top: 22px;
  right: 19px;

  width: 55px;
  height: 55px;
  padding: 0;

  background-color: var(--special-yellow-dark);
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
}

.close-button:hover,
.close-button:focus {
  opacity: 1;
}

.close-button:active {
  opacity: 0.3;
}

.close-button::before,
.close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 24px;
  height: 2px;

  background-color: var(--basic-white);
  transform: translate(-50%, -50%);
}

.close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*===== MAIN-HEADER =====*/

.main-header {
  position: relative;

  min-height: 186px;
  margin-top: 40px;
  padding: 30px 60px;

  background-color: var(--special-yellow-light);
}

.main-header__logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

/*===== SEARCH-FORM =====*/

.search-form {
  position: relative;

  display: flex;
  flex-basis: 500px;
  align-items: stretch;
  max-width: 500px;
  min-height: 50px;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 16px;
  height: 16px;

  background-image: url("../img/icons/icon-search.svg");
  transform: translateY(-50%);
}

.search-form__field {
  flex-grow: 1;
  padding: 0 0 0 38px;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);

  background-color: transparent;
  border: none;
  outline: none;
}

.search-form__field::placeholder {
  color: var(--black-30);
}

.search-form__field:hover::placeholder {
  color: var(--black-60);
}

.search-form__field:focus {
  border-color: var(--basic-black);
}

.search-form__field:focus::placeholder {
  color: var(--basic-black);
}

.search-form__button {
  position: relative;

  padding: 13px 15px;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid var(--basic-black);
  outline: none;
  cursor: pointer;
  opacity: 0;
}

.search-form__button::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;

  width: 500px;
  height: 2px;

  background-color: var(--basic-black);

  pointer-events: none;
}

.search-form__field:focus + .search-form__button {
  opacity: 1;
}

.search-form__button:hover,
.search-form__button:focus {
  color: var(--basic-white);

  background-color: var(--basic-black);
  opacity: 1;
}

.search-form__button:active {
  color: var(--white-30);

  background-color: var(--basic-black);
}

/*===== USER-LIST =====*/

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  max-width: 500px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-header__user-list {
  flex-basis: 500px;
}

.main-footer__user-list {
  flex-basis: 478px;
}

.user-list__item {
  margin-right: 40px;
}

.user-list__item:last-child {
  margin-right: 0;
}

.user-list__item--m-r-auto {
  margin-right: auto;
}

.user-list__item--m-r-20 {
  margin-right: 20px;
}

.user-list__link {
  position: relative;

  padding-left: 24px;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);
  text-decoration: none;
}

.user-list__link:hover {
  opacity: 0.6;
}

.user-list__link:active {
  opacity: 0.3;
}

.user-list__link--logout {
  padding-left: 0;

  opacity: 0.3;
}

.user-list__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);
}

.user-list__link--user::before {
  width: 13px;
  height: 14px;

  background-image: url("../img/icons/icon-user.svg");
}

.user-list__link--compare::before {
  width: 14px;
  height: 14px;

  background-image: url("../img/icons/icon-chart.svg");
}

.user-list__link--cart::before {
  width: 10px;
  height: 10px;

  background-image: url("../img/icons/icon-cart.svg");
}

/*===== USER-LIST с белым текстом в футере =====*/

.user-list--white .user-list__link {
  color: var(--white-70);

  opacity: 1;
}

.user-list--white .user-list__link:hover {
  color: var(--basic-white);

  opacity: 1;
}

.user-list--white .user-list__link:active {
  color: var(--white-30);

  opacity: 1;
}

.user-list--white .user-list__link--user::before {
  background-image: url("../img/icons/icon-user-yellow.svg");
}

.user-list--white .user-list__link--compare::before {
  background-image: url("../img/icons/icon-chart-yellow.svg");
}

.user-list--white .user-list__link--cart::before {
  background-image: url("../img/icons/icon-cart-yellow.svg");
}

.user-list--white .user-list__link:hover::before {
  opacity: 0.6;
}

.user-list--white .user-list__link:active::before {
  opacity: 0.3;
}

/*===== NAVIGATION =====*/

.navigation {
  flex-basis: 100%;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-list__item {
  position: relative;

  margin-right: 38px;
}

.navigation-list__item:last-child {
  margin-right: 0;
}

.navigation-list__item--m-r-auto {
  margin-right: auto;
}

.navigation-list__item--m-r-103 {
  margin-right: 103px;
}

.navigation-list__link {
  position: relative;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.5px;
}

.navigation-list__link:hover {
  color: var(--black-60);
}

.navigation-list__link:active {
  color: var(--black-30);
}

.navigation-list__link--plus {
  padding-right: 35px;
}

.navigation-list__link--plus::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;

  width: 22px;
  height: 22px;

  background-image: url("../img/icons/icon-plus.svg");
  transform: translateY(-50%);
}

.navigation-sublist {
  position: absolute;
  z-index: 1;

  display: none;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 1160px;
  margin: 0 -60px;
  padding: 28px 60px 40px;

  list-style: none;

  background-color: var(--special-yellow-light);
}

.navigation-list__item:hover .navigation-sublist {
  display: flex;
}

.navigation-sublist__item {
  margin-right: 63px;
}

.navigation-sublist__item:last-child {
  margin-right: 0;
}

.navigation-sublist__column {
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-sublist__column-item {
  margin-bottom: 17px;

  line-height: 20px;
}

.navigation-sublist__column-item:last-child {
  margin-bottom: 0;
}

.navigation-sublist__link {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);
  text-decoration: none;
}

.navigation-sublist__link:hover {
  color: var(--black-60);
}

.navigation-sublist__link:active {
  color: var(--black-30);
}

/*===== SLIDER =====*/

.slider-wrapper {
  position: relative;

  margin: -15px auto 53px;
  overflow-x: hidden;

  background-image: linear-gradient(var(--special-yellow-light), var(--special-yellow-light) 129px, transparent 129px, transparent 100%);
}

.slider-toggle-list {
  position: absolute;
  top: 340px;
  right: 88px;

  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-toggle-list__item {
  margin-right: 18px;
}

.slider-toggle-list__item:last-child {
  margin-right: 0;
}

.slider-toggle-list__button {
  position: relative;

  display: block;
  width: 12px;
  height: 12px;
  padding: 0;

  background-color: transparent;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.slider-toggle-list__button--checked {
  cursor: default;
}

.slider-toggle-list__button--checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 6px;
  height: 6px;

  border: 1px solid var(--basic-black);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.slider {
  display: flex;
  align-items: flex-start;
  width: 300%;
  margin: 0;
  padding: 0;

  list-style: none;

  counter-reset: slide;
}

.slider__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1160px;
  min-height: 550px;
}

.slider__item-image,
.slider__item-info {
  flex-basis: 560px;
  max-width: 560px;
}

.slider__item-image {
  align-self: center;
}

.slider__item-image--start {
  align-self: flex-start;
}

.slider__item-image img {
  display: block;
  margin: 0 auto;
}

.slider__item-title {
  position: relative;

  margin: 0 0 26px 0;
  padding: 93px 55px 0 0;

  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);

  transform-style: preserve-3d;
}

.slider__item-title::before {
  content: "";
  position: absolute;
  top: 34px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: var(--basic-white);
}

.slider__item-title::after {
  content: "0"counter(slide);
  position: absolute;
  top: 3px;
  right: 47px;

  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-white);
  text-transform: uppercase;

  transform: translateZ(-1px);

  counter-increment: slide;
}

.slider__item-description {
  margin: 0 0 50px 0;
  padding: 0 89px 0 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.slider__item-button {
  min-width: 220px;
  margin-bottom: 50px;
}

.slider__item-table {
  border-collapse: collapse;
}

.slider__item-table tbody {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.slider__item-table-row {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  margin-right: 59px;
  margin-bottom: 20px;
}

.slider__item-table-row:last-child {
  margin-right: 0;
}

.slider__item-table-cell {
  font-weight: 300;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  letter-spacing: 0.1em;
}

.slider__item-table-cell--name {
  font-size: 13px;
  line-height: 15px;
}

.slider__item-table-cell--value {
  margin-bottom: 15px;

  font-size: 36px;
  line-height: 42px;
}

/*===== POPULAR =====*/

.popular {
  margin-bottom: 42px;
}

.popular-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 40px;

  grid-auto-columns: 160px;
  grid-template-columns: repeat(6, 160px);
}

.popular-list__item {
  width: 160px;
  margin-bottom: 40px;
}

.popular-list__item-name {
  position: relative;

  display: block;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  text-decoration: none;
  letter-spacing: 0.05em;
}

.popular-list__item-name::before {
  content: "";

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 40px;

  background-color: var(--special-yellow-light);
}

.popular-list__item-name::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
  background-position: 50%;
}

.popular-list__item-name--vr::after {
  background-image: url("../img/vr.svg");
}

.popular-list__item-name--monopod::after {
  background-image: url("../img/monopod.svg");
}

.popular-list__item-name--camera::after {
  background-image: url("../img/camera.svg");
}

.popular-list__item-name--fitness-bracelet {
  letter-spacing: normal;
}

.popular-list__item-name--fitness-bracelet::after {
  letter-spacing: normal;

  background-image: url("../img/fitness-bracelet.svg");
}

.popular-list__item-name--smart-clock::after {
  background-image: url("../img/smart-clock.svg");
}

.popular-list__item-name--quadrocopters::after {
  background-image: url("../img/quadrocopters.svg");
}

.popular-list__item-name:hover::before {
  background-color: var(--special-yellow-dark);
}

.popular-list__item-name:active {
  opacity: 0.3;
}

.popular-list__item-name:active::before {
  background-color: var(--special-yellow-dark);
}

/*===== SERVICES =====*/

.services {
  min-height: 388px;
  margin-bottom: 90px;

  background-image: linear-gradient(transparent, transparent 100px, var(--basic-gray-light) 100px, var(--basic-gray-light) 100%);
}

.services__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.services-toggle-list {
  flex-basis: 284px;
  max-width: 284px;
  margin: 0;
  padding: 80px 0 76px 0;

  list-style: none;

  border-right: 7px solid var(--basic-black);
}

.services-toggle-list__item {
  margin-bottom: 22px;
  overflow-x: hidden;
}

.services-toggle-list__item:last-child {
  margin-bottom: 0;
}

.services-toggle-list__button {
  min-width: 160px;

  cursor: pointer;
}

.services-toggle-list__button--checked {
  cursor: default;
}

.services-toggle-list__button:active,
.services-toggle-list__button--checked,
.services-toggle-list__button--checked:hover,
.services-toggle-list__button--checked:focus,
.services-toggle-list__button--checked:active {
  color: var(--special-yellow-light);

  background-color: var(--basic-black);
}

.services-toggle-list__button:active::before,
.services-toggle-list__button--checked::before,
.services-toggle-list__button--checked:hover::before,
.services-toggle-list__button--checked:active::before {
  right: -100%;
  left: 100%;

  height: 100%;

  background-color: var(--basic-black);
}

.services-list {
  flex-basis: 760px;
  max-width: 760px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-list__item {
  display: none;
  min-height: 320px;
  margin-right: -50px;
  padding: 72px 230px 20px 0;

  background-repeat: no-repeat;
  background-position: 92% 47%;
}

.services-list__item--active {
  display: block;
}

.services-list__item--delivery {
  background-image: url("../img/delivery.svg");
  background-position: 92% 47%;
  background-size: 136px 164px;
}

.services-list__item--warranty {
  background-image: url("../img/warranty.svg");
  background-position: 95% 43%;
  background-size: 171px 195px;
}

.services-list__item--credit {
  background-image: url("../img/credit.svg");
  background-position: 91% 37%;
  background-size: 156px 188px;
}

.services-list__item-title {
  margin: 0 0 40px 0;
  padding: 0;

  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  letter-spacing: 0.2em;
}

.services-list__item-description {
  margin: 0 0 20px 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 1.5px;
}

.services-list__item-description:last-child {
  margin: 0;
}

/*===== LOGOTYPES =====*/

.logotypes {
  margin-bottom: 43px;
}

.logotypes-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 40px;

  grid-auto-columns: 260px;
  grid-template-columns: repeat(4, 260px);
}

.logotypes-list__item {
  margin-bottom: 40px;

  opacity: 0.5;
  filter: grayscale(100%);
}

.logotypes-list__item:hover {
  opacity: 1;
  filter: grayscale(0);
}

.logotypes-list__image {
  width: 260px;
  height: 100px;
}

/*===== INFORMATION =====*/

.information {
  display: grid;
  margin: 0 auto 77px;

  column-gap: 40px;

  grid-template-columns: repeat(2, 560px);
}

/*===== ABOUT-US and CONTACTS =====*/

.about-us,
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-us {
  padding: 0 65px 0 0;
}

.about-us__title,
.contacts__title {
  margin: 0 0 40px;
  padding: 57px 0 0 0;

  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  letter-spacing: 0.2em;
}

.about-us__button,
.contacts__button {
  min-width: 260px;
  margin: 70px 0 0 0;
}

/*===== MAP =====*/

.map {
  margin: 0 0 7px;
}

.map__picture {
  display: block;
  width: 560px;
  height: 222px;
}

/*===== MAIN-FOOTER =====*/

.main-footer {
  padding: 40px 0 62px;

  background-color: var(--basic-dark);
}

.main-footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 40px;
}

.main-footer__logo {
  margin: 23px 0 0;
}

.main-footer__middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 50px;
}

.main-footer__contacts {
  margin: 0;
  padding: 0;

  line-height: 20px;
  color: var(--basic-white);
  text-decoration: none;
}

.main-footer__navigation {
  display: flex;
  flex-basis: 480px;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 640px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer__navigation-item {
  margin-right: 33px;

  line-height: 22px;
}

.main-footer__navigation-item:last-child {
  margin-right: 0;
}

.main-footer__navigation-link {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-white);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.main-footer__navigation-link:hover {
  color: var(--white-60);
}

.main-footer__navigation-link:active {
  color: var(--white-30);
}

.main-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-footer__bottom::before {
  content: "";

  width: 80px;
  height: 7px;
  margin-top: 10px;

  background-color: var(--special-yellow-darked);
}

/*===== SOCIAL-LIST =====*/

.social-list {
  display: flex;
  flex-basis: 170px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  max-width: 360px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list__item {
  margin-right: 20px;
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list__link {
  display: block;
  width: 32px;
  height: 32px;

  opacity: 0.3;
}

.social-list__link:hover {
  opacity: 0.6;
}

.social-list__link:active {
  opacity: 0.1;
}

.social-list__link--facebook {
  background-image: url("../img/icons/icon-facebook.svg");
}

.social-list__link--instagram {
  background-image: url("../img/icons/icon-instagram.svg");
}

.social-list__link--twitter {
  background-image: url("../img/icons/icon-twitter.svg");
}

/*===== AUTHOR =====*/

.author {
  width: 115px;
  height: 33px;
}

.author:hover {
  opacity: 0.6;
}

.author:active {
  opacity: 0.3;
}

/*===== POPUP =====*/

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;

  display: none;
  min-width: 960px;
  min-height: 550px;
  padding: 90px 100px 20px;

  background-color: var(--basic-white);
  box-shadow: 0 10px 16px var(--shadow-popup);
  transform: translate(-50%, -50%);
}

.popup-form {
  display: grid;

  column-gap: 40px;

  grid-auto-columns: min-content;
  grid-template-areas: "name email""comment comment";
  grid-template-columns: repeat(auto-fill, 360px);
}

.popup-form__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.popup-form__wrapper--name {
  grid-area: name;
}

.popup-form__wrapper--email {
  grid-area: email;
}

.popup-form__wrapper--comment {
  grid-area: comment;
}

.popup-form__label {
  margin-bottom: 12px;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.popup-form__input,
.popup-form__input--comment {
  padding: 14px 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.4);

  background-color: var(--input-gray);
  border: 2px solid var(--input-gray);
  outline: none;
}

.popup-form__input::placeholder,
.popup-form__input--comment::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.popup-form__input:hover,
.popup-form__input--comment:hover {
  background-color: var(--input-gray-hover);
  border: 2px solid var(--input-gray-hover);
}

.popup-form__input:focus,
.popup-form__input--comment:focus {
  color: var(--basic-dark);

  background-color: var(--basic-white);
  border: 2px solid var(--special-yellow-light);
}

.popup-form__input:invalid,
.popup-form__input--comment:invalid {
  background-color: var(--status-pink);
  border: 2px solid var(--status-pink);
}

.popup-form__input--comment {
  min-height: 167px;

  border: none;
}

.popup-form__button {
  min-width: 200px;
  margin-top: 11px;

  justify-self: flex-start;
}

/*===== POPUP-MAP =====*/

.popup-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;

  display: none;
  min-width: 960px;
  min-height: 572px;

  box-shadow: 0 10px 16px var(--shadow-popup);
  transform: translate(-50%, -50%);
}

/*===== INNER-PAGE =====*/

.page-header {
  padding: 45px 80px;
}

.page-title {
  margin: 0 0 25px;

  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

/*===== BREAD-CRUMBS =====*/

.bread-crumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.bread-crumbs__item {
  margin-right: 14px;
}

.bread-crumbs__item:last-child {
  margin-right: 0;
}

.bread-crumbs__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--black-30);
  text-decoration: none;
}

.bread-crumbs__link[href] {
  position: relative;

  padding-right: 27px;
}

.bread-crumbs__link[href]:hover {
  color: var(--black-60);
}

.bread-crumbs__link[href]:active {
  color: var(--black-10);
}

.bread-crumbs__link[href]::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;

  width: 12px;
  height: 13px;

  background-image: url("../img/icons/icon-arrow-nav.svg");
  transform: translateY(-50%);
}

/*===== CATALOG-CONTAINER =====*/

.catalog-container {
  display: grid;

  grid-template-columns: 328px 832px;
}

/*===== FILTER =====*/

.filter {
  background-color: var(--basic-gray-light);
}

.catalog-container__filter {
  margin-left: -9999px;
  padding-left: 9999px;
}

.filter__title {
  display: flex;
  align-items: center;
  min-height: 70px;
  margin: 0 0 20px;
  padding: 0 10px 0 60px;

  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.1em;

  background-color: var(--special-gray);
}

.catalog-container__filter-title {
  margin-left: -9999px;
  padding-left: 10059px;
}

.filter__form {
  padding: 50px 68px 20px 60px;
}

.filter__form-fieldset {
  position: relative;

  margin: 0;
  padding: 50px 0 36px;

  border: none;
  border-top: 2px solid var(--basic-black);
}

.filter__form-legend {
  position: absolute;
  top: 14px;

  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  letter-spacing: 0.1em;
}

.filter__form-list {
  margin: 0;
  padding: 10px 0 2px 0;

  list-style: none;
}

.filter__form-list-item {
  margin-bottom: 15px;

  line-height: 24px;
}

.filter__form-list-item:last-child {
  margin-bottom: 0;
}

.filter__form-label {
  position: relative;

  padding: 2px 0 3px 41px;

  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
}

.filter__form-label--checkbox::before,
.filter__form-label--checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 24px;
}

.filter__form-label--checkbox::before {
  border: 2px solid var(--basic-black);
  border-radius: 2px;
}

.filter__form-checkbox:checked + .filter__form-label--checkbox::after {
  background-image: url("../img/icons/icon-check.svg");
  background-position: center;
}

.filter__form-checkbox:hover + .filter__form-label--checkbox::before,
.filter__form-checkbox:hover + .filter__form-label--checkbox::after,
.filter__form-checkbox:focus + .filter__form-label--checkbox::before,
.filter__form-checkbox:focus + .filter__form-label--checkbox::after {
  opacity: 0.6;
}

.filter__form-checkbox:active + .filter__form-label--checkbox::before,
.filter__form-checkbox:active + .filter__form-label--checkbox::after {
  opacity: 1;
}

.filter__form-checkbox:disabled + .filter__form-label--checkbox,
.filter__form-checkbox:disabled + .filter__form-label--checkbox::before,
.filter__form-checkbox:disabled + .filter__form-label--checkbox::after {
  opacity: 0.25;
}

.filter__form-label--radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 24px;

  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.filter__form-radio:checked + .filter__form-label--radio::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;

  width: 8px;
  height: 8px;

  background-color: var(--basic-black);
  border-radius: 50%;
}

.filter__form-radio:hover + .filter__form-label--radio::before,
.filter__form-radio:hover + .filter__form-label--radio::after,
.filter__form-radio:focus + .filter__form-label--radio::before,
.filter__form-radio:focus + .filter__form-label--radio::after {
  opacity: 0.6;
}

.filter__form-radio:active + .filter__form-label--radio::before,
.filter__form-radio:active + .filter__form-label--radio::after {
  opacity: 1;
}

.filter__form-radio:disabled + .filter__form-label--radio,
.filter__form-radio:disabled + .filter__form-label--radio::before,
.filter__form-radio:disabled + .filter__form-label--radio::after {
  opacity: 0.25;
}

.filter__form-button {
  width: 100%;
  margin-top: 5px;
}

/*===== PRICE-RANGE =====*/

.price-range {
  padding: 20px 0 35px;
}

.price-range__scale {
  position: relative;

  width: 200px;
  height: 2px;

  background-color: var(--black-20);
}

.price-range__scale::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;

  width: 94px;
  height: 2px;

  background-color: var(--special-green);
}

.price-range__button {
  position: absolute;
  top: -10px;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 2px var(--shadow-black);
  cursor: pointer;
}

.price-range__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 4px;
  height: 4px;

  background-color: var(--special-gray-darked);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.price-range__button::after {
  position: absolute;
  top: 29px;
  left: -24px;

  display: block;
  min-width: 75px;

  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.price-range__button--min {
  left: 0;
}

.price-range__button--min::after {
  content: "от 0";
}

.price-range__button--max {
  left: 114px;
}

.price-range__button--max::after {
  content: "до 5000";
  left: -27px;
}

/*===== SORTING =====*/

.sorting {
  display: flex;
  align-items: center;
  min-height: 70px;
  padding-left: 72px;

  background-color: var(--basic-gray-light);
}

.catalog-container__sorting {
  margin-right: -9999px;
  padding-right: 9999px;
}

.sorting__title {
  margin: 0 73px 0 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.sorting__list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0 5px 0 0;

  list-style: none;
}

.sorting__list-item {
  margin-right: 30px;

  line-height: 19px;
}

.sorting__list-item:last-child {
  margin-right: 0;
}

.sorting__list-item--m-r-auto {
  margin-right: auto;
}

.sorting__list-item--m-r-20 {
  margin-right: 20px;
}

.sorting__list-link {
  display: block;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);
  text-decoration: none;

  opacity: 0.3;
}

.sorting__list-link:hover {
  opacity: 0.6;
}

.sorting__list-link:active,
.sorting__list-link--active,
.sorting__list-link--active:hover {
  opacity: 1;
}

.sorting__list-link--increase {
  width: 11px;
  height: 10px;

  background-image: url("../img/icons/icon-up-arrow.svg");
}

.sorting__list-link--decrease {
  width: 11px;
  height: 10px;

  background-image: url("../img/icons/icon-down-arrow.svg");
}

/*===== PRODUCT-LIST =====*/

.product-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 40px;

  grid-template-columns: repeat(2, 360px);
  row-gap: 48px;
}

.catalog__product-list {
  margin: 0 0 38px;
  padding: 69px 0 0 73px;
}

.product-list__item {
  position: relative;
}

.product-list__item--new::before {
  content: "new";
  position: absolute;
  top: 30px;
  right: 28px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;

  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--black-30);
  text-transform: uppercase;

  border: 2px solid var(--black-30);
  border-radius: 50%;
}

.product-list__item-picture {
  width: 360px;
  height: 380px;
  margin-bottom: 23px;
}

.product-list__item-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-list__item-name {
  flex-basis: 270px;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  text-decoration: none;
  letter-spacing: 0.05em;
}

.product-list__item-price {
  flex-basis: 81px;

  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  text-decoration: none;
  letter-spacing: 0.05em;
}

.product-list__item-hover {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 380px;

  background-color: var(--white-70);
}

.product-list__item:hover .product-list__item-hover {
  display: flex;
}

.product-list__item-button {
  min-width: 200px;
  margin-top: 35px;
}

.product-list__item-link {
  display: block;
  margin-top: 15px;

  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);
  text-decoration: none;
  letter-spacing: 0.1em;

  opacity: 0.5;
}

.product-list__item-link:hover {
  opacity: 1;
}

.product-list__item-link:active {
  opacity: 0.2;
}

/*===== PAGINATOR =====*/

.paginator {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 70px;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: var(--special-gray-paginator-bg);
}

.catalog__paginator {
  margin: 0 0 79px 73px;
}

.paginator__item {
  margin-right: 30px;
}

.paginator__item--prev {
  margin-right: auto;
}

.paginator__item--next {
  margin-right: 0;
  margin-left: auto;
}

.paginator__item--m-r-0 {
  margin-right: 0;
}

.paginator__link {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--black-30);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.paginator__link--active {
  color: var(--basic-black);
}

.paginator__link--prev,
.paginator__link--next {
  padding: 25px 30px;

  color: var(--basic-black);
}

.paginator__link--prev:hover,
.paginator__link--next:hover {
  background-color: var(--special-gray-paginator-hover);
}

.paginator__link--prev:active,
.paginator__link--next:active {
  color: var(--black-30);

  background-color: var(--special-gray-paginator-hover);
}
